
 section1{ 
    color: rgb(236, 227, 227);
    font-family: arial;
    margin: 0;
    padding: 0;
    min-height: 100vh;
 }

 li { 
    display: inline-block;
    margin-right: .25rem;
    width: 100px;
    }

a:visited {
    color: black;
}
 header {
     align-items: center;
 }

article{
    color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    text-align: left;
   
}

.petit_text {
    height: 5px;
    font-size: 15px;
    background-color: skyblue;
    border-left: 5px #187498 solid;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);
}

footer{
    background: linear-gradient(90deg, #8360c3, #2ebf91);
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 3em;
}

.banniere {
    color: white;
    padding: 100px; 
    text-align: center;
    background-image: url(image/technology-785742_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   
}
body{ 
    background-color: rgb(212, 219, 236);
    font-family: arial;
    margin: 5;
    padding: 0;
    min-height: 100vh;
 }