<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>À propos - Mayel Pèllé Consultant data</title>
</head>

<body>
    <img src="../image/PELLE_MAYEL_small.jpg" alt="photo mayel pelle">
    <a href="site.html">Accueil</a>
    <h1>À propos de Mayel Pèllé</h1>
    <P>
        <a href="#exppro">Expérience professionnelle</a><br>
        <a href="#formation">formation</a><br>
    <p>
        Data Engineer depuis près de 2 ans, 
    </p>
    <h2>Data Engineer</h2>
        <h3 id="exppro">Expérience professionnelle</h3>
        <ul>
            <li>Valeuriad</li>
            <li>BPCE SI</li>
        </ul>
        <h3 id="formation">formation</h3>
        <ul>
            <li>Diginamic</li>
            <li>Simplon</li>
        </ul>
</body>

</html>