<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Accueil - Pèllé Mayel</title>
  </head>
  <body>
    <header>
      <h1 class="banniere">
        <strong><em>Mayel Pèllé - Data Engineer</em></strong>
      </h1>
      <nav>
        <ul>
          <li><a href="#">ACCEUIL</a></li>
          <li><a href="a_propos">A PROPOS</a></li>
          <li><a href="#">CV</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section1>
        <div>
          <p>🚀 Data Engineer / Analyst Junior</p>
          <p>
            📊 Poste Actuel : Engagé dans le domaine complexe de l'ingénierie
            des données en tant que consultant data, pour une esn humaine
            nantaise, pour des missions de data engineering et de dataviz. 🐍💻
          </p>
          <p>
            🌐 Parcours : Ancien vendeur de rhum, j'ai pivoté ma carrière vers
            la data pour participer à notre révolution digitale.
          </p>
          <p>
            📈 Expertise : Maîtrise du développement en Python, complétée par
            une utilisation de Dataiku pour créer des workflows de data prep et
            de mise à disposition des données. En fin de chaine j'utilise
            Digdash pour une visualisation de données impactante.
          </p>
          <p>
            🔍 Mission : Mon objectif est de traduire des ensembles de données
            complexes en informations exploitables. À l'instar de l'assemblage
            d'un rhum fin, chaque étape est orchestrée avec précision pour créer
            une expérience qui transcende les attentes.
          </p>
          <p>
            🛠️ Boîte à Outils : Python | Dataiku | Power BI| SQL | Hadoop |
            Digdash
          </p>
        </div>
      </section1>

      <section2>
        <article>
          <aside>
            <p class="petit_text">
              Où professionalisme s’allie avec passion. Depuis près de 2 ans
              maintenant, j’exerce mon métier avec la passion qui m’anime :
              donner sens à la donnée.
            </p>
          </aside>
        </article>
      </section2>
      <footer>
        <div>
          <a target="_blank" href="https://www.linkedin.com/in/mayel-pèllé/"
            >Linkedin</a
          >
          <a target="_blank" href="https://github.com/maypel">Github</a>
        </div>
      </footer>
    </main>
   
  </body>
</html>

<!-- <a target="_blank" href="https://twitter.com/">
                        <img src="../image/twitter.png" alt="Logo Twitter">-->
